<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h2>管理者ページに誤ったログイン情報でログインしようとしたユーザーがいます</h2>

    <ul>
        <li>試行されたユーザーID: <%= @email %></li>
        <li>試行日時: <%= @attempt_time.strftime("%Y年%m月%d日 %H:%M:%S") %></li>
    </ul>

    <p>
        ※不正アクセスの可能性がある場合は、至急パスワードを変更してください。
    </p>
</body>

</html>