<% content_for :title, "お問い合わせありがとうございます - うさぎや" %>

<div style="text-align: center; padding: 100px 20px;">
    <h1 style="font-size: 32px; margin-bottom: 30px;">お問い合わせありがとうございます</h1>
    <p style="font-size: 18px; line-height: 2;">
        お問い合わせを承りました。<br>
        確認メールをお送りしましたので、ご確認ください。<br>
        内容を確認いたしまして、速やかにご回答させていただきます。<br>
        多忙な時期は返信に2〜3日お時間をいただく場合がございます。<br>
        お急ぎの場合はお電話でお問い合わせください。<br><br>
        <a href="tel:0776-62-0861" class="inquiry-phone">0776-62-0861</a><br>
        営業時間: 9:00～18:00（定休日: 日曜日）<br>
        ご不明な点がございましたら、お気軽にお問い合わせください。
    </p>
    <%= link_to 'トップページに戻る', root_path, style: 'display: inline-block; margin-top: 40px; padding: 15px 40px; background-color: #333; color: #fff; text-decoration: none; border-radius: 4px;' %>
</div>